<%- include('./partials/header.ejs') %>
<h4>Team</h4>
<p>Abdulah Ahmed</p>
<p>Austin Baker</p>
<p>Carly Gross</p>
<p>Jacob Harland</p>
<p>Ramsey Azure</p>
<p>Sarnam Patel</p>
<br />
<h4>Purpose</h4>
<p>
  The application was created by our group for Software Developer Projects class.<br />
  The goal of the application is to help people figure out what to eat.
</p>
<%- include('./partials/footer.ejs') %>
