<%- include('./partials/header.ejs') %>

<h2>Choose what you like</h2>
<div class="dishes">
  <% posts.forEach((element) => { %>
    <img src="<%=element.thumbnail%>" alt="<%=element.food%>" style="width:200px;height:200px;object-fit: cover;
    object-position: 50% 50%;">
  <%})%>
</div>
<div class="main-nav-buttons">
  <form action="/flavors" method="get">
    <button>Go back</button>
  </form>
  <form action="/results" method="get">
    <button>I'm not sure</button>
  </form>
  <form action="/results" method="get">
    <button>Ok</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
