<%- include('./partials/header.ejs') %>

<h2>Choose what you like</h2>
<div class="dishes">
  <img src="none" alt="food" />
  <img src="none" alt="food" />
  <img src="none" alt="food" />
  <img src="none" alt="food" />
</div>
<div class="main-nav-buttons">
  <button type="button"><a href="/flavors">Go back</a></button>
  <button type="button">Idk</button>
  <button type="button">Ok</button>
</div>
<%- include('./partials/footer.ejs') %>
