<%- include('./partials/header.ejs') %>

<h2>Choose what you like</h2>
<div class="dishes">
  <img src="none" alt="food" />
  <img src="none" alt="food" />
  <img src="none" alt="food" />
  <img src="none" alt="food" />
</div>
<div class="main-nav-buttons">
  <form action="/flavors" method="get">
    <button>Go back</button>
  </form>
  <button type="button">I'm not sure</button>
  <button type="button">Ok</button>
</div>
<%- include('./partials/footer.ejs') %>
