<%- include('./partials/header.ejs') %>

<h2>Choose flavors that you like</h2>
<div class="flavor-buttons">
  <button type="button">Salty</button>
  <button type="button">Sweet</button>
  <button type="button">Sour</button>
  <button type="button">Spicy</button>
</div>
<div class="main-nav-buttons">
  <button type="button"><a href="/"> Go back</a></button>
  <button type="button"><a href="/dishes">I'm not sure</a></button>
  <button type="button"><a href="/dishes">Ok</a></button>
</div>
<%- include('./partials/footer.ejs') %>
