<%- include('./partials/header.ejs') %>

<h2>Choose flavors that you like</h2>
<div class="flavor-buttons">
  <button type="button">Salty</button>
  <button type="button">Sweet</button>
  <button type="button">Sour</button>
  <button type="button">Spicy</button>
</div>
<div class="main-nav-buttons">
  <button type="button">Go back</button>
  <button type="button">Ok</button>
</div>
<%- include('./partials/footer.ejs') %>
