<%- include('./partials/header.ejs') %>

<h2>Choose flavors that you like</h2>
<div class="flavor-buttons">
  <button type="button">Salty</button>
  <button type="button">Sweet</button>
  <button type="button">Sour</button>
  <button type="button">Spicy</button>
</div>
<div class="main-nav-buttons">
  <form action="/" method="get">
    <button>Go back</button>
  </form>
  <form action="/dishes" method="get">
    <button>I'm not sure</button>
  </form>
  <form action="/dishes" method="get">
    <button>Ok</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
