<%- include('./partials/header.ejs') %>


<br />
<h2>Cuisine</h2>

<ul style="list-style: none">
  <li>
    Thai
    <input type="checkbox" />
  </li>
  <li>
    Chinese
    <input type="checkbox" />
  </li>
  <li>
    Italian
    <input type="checkbox" />
  </li>
  <li>
    Japanese
    <input type="checkbox" />
  </li>
  <li>
    Indian
    <input type="checkbox" />
  </li>
</ul>

<button><a href="/flavors">Idk</a></button>
<button><a href="/flavors">Ok</button>

<%- include('./partials/footer.ejs') %>
