<%- include('./partials/header.ejs') %>

<br />
<h2>Cuisine</h2>

<ul style="list-style: none">
  <li>
    Thai
    <input type="checkbox" />
  </li>
  <li>
    Chinese
    <input type="checkbox" />
  </li>
  <li>
    Italian
    <input type="checkbox" />
  </li>
  <li>
    Japanese
    <input type="checkbox" />
  </li>
  <li>
    Indian
    <input type="checkbox" />
  </li>
</ul>

<form action="/flavors" method="get">
    <button>I'm not sure</button>
  </form>
  <form action="/flavors" method="get">
    <button>Ok</button>
  </form>

<%- include('./partials/footer.ejs') %>
