<%- include('./partials/header.ejs') %>

<br />
<h2>Cuisine</h2>

<form id="cuisine-form">
  <fieldset form="cuisine-form" class="cuisine">
    <div>
      <input type="checkbox" id="american" name="american">
      <label for="american">American</label>
    </div>
    <div>
      <input type="checkbox" id="chinese" name="chinese">
      <label for="chinese">Chinese</label>
    </div>
    <div>
      <input type="checkbox" id="italian" name="italian">
      <label for="italian">Italian</label>
    </div>
    <div>
      <input type="checkbox" id="indian" name="indian">
      <label for="indian">Indian</label>
    </div>
    <div>
      <input type="checkbox" id="japanese" name="japanese">
      <label for="japanese">Japanese</label>
    </div>
  </fieldset>
</form>

<div class="main-nav-buttons">
  <button type="submit" form="cuisine-form" formmethod="GET" formaction="#">I'm not sure</button>
  <button type="submit" form="cuisine-form" formmethod="POST" formaction="/">Ok</button>
</div>

<%- include('./partials/footer.ejs') %>
