<%- include('./partials/header.ejs') %>

<!--UserProfile page displays when user is logged in-->
<a href="/profile"><h2 class="userProfile">User Profile</h2></a>
<a href="/signin"><h2 class="signUp">Login</h2></a>

<br />
<h2>Cuisine</h2>

<ul style="list-style: none">
  <li>
    Thai
    <input type="checkbox" />
  </li>
  <li>
    Chinese
    <input type="checkbox" />
  </li>
  <li>
    Italian
    <input type="checkbox" />
  </li>
  <li>
    Japanese
    <input type="checkbox" />
  </li>
  <li>
    Indian
    <input type="checkbox" />
  </li>
</ul>

<button><a href="/flavors">Idk</a></button>
<button><a href="/flavors">Ok</button>

<%- include('./partials/footer.ejs') %>
