<%- include('./partials/header.ejs') %>

<h1 style="text-align: center">Let's Eat</h1>
<h2 style="text-align: center">User Profile</h2>
<div style="text-align: center">
  <form style="display: inline-block; text-align: left">
    <img
      src="images/profile-pic-placeholder.png"
      alt="Profile icon"
      style="width: 160px; height: 165; margin-left: auto; margin-right: auto; display: block"
    />
    <p>First Name: Johnny</p>
    <p>Last Name: Appleseed</p>
    <p>E-mail Address: JohnnyAppleseed@gmail.com</p>
    <p>Password: **********</p>
  </form>
</div>

<%- include('./partials/header.ejs') %>
