<%- include('./partials/header.ejs') %>

<div class="wrapper">
 <form action="/" method="POST">
    <div class="h5 font-weight-bold text-center mb-3">Registration</div>
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" required><br><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" required><br><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button>Sign Up</button><br>
    </form>

    <button><a href="/">Submit</a></button>

    <div class="connect border-bottom mt-4 mb-4"></div>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
