<%- include('./partials/header.ejs') %>

<div class="wrapper">
  <form action="#">
    <div class="h5 font-weight-bold text-center mb-3">Registration</div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="text" class="form-control" placeholder="Name" />
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="email" class="form-control" placeholder="Email" />
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="tel" class="form-control" placeholder="Phone" />
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="text" class="form-control" placeholder="City" />
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="text" class="form-control" placeholder="ZipCode" />
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class=""></span></div>
      <input autocomplete="off" type="password" class="" placeholder="Password" />
      <div class="icon btn"><span class="fas fa-eye-slash"></span></div>
    </div>

    <button><a href="/">Submit</a></button>

    <div class="connect border-bottom mt-4 mb-4"></div>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
