<%- include('./partials/header.ejs') %>

<h1 style="text-align: center">Let's Eat</h1>
<h2 style="text-align: center">Sign In</h2>
<div style="text-align: center">
  <form style="display: inline-block; text-align: left">
    <input type="text" id="email" size="25" placeholder="E-mail Address" required /><br /><br />
    <input type="text" id="password" size="15" placeholder="Password" required /><br /><br />
  </form>

  <button style="margin: 0 auto; display: block" type="button">Go</button>
  <p>Don't have an Account?</p>
  <a href="/registration">Register Here</a>
</div>
<%- include('./partials/footer.ejs') %>
