<footer>
<% if (typeof libs !== 'undefined') { %>
      <script src='js/<%= libs %>.js' type='module'></script>
<% } %>
</main>
<br>
<br>
<br>
<a href="/"><h5>©Let's Eat</h5></a>
<a href="/about"><h5>ABOUT US</h5></a>
<hr>

<h5>Top Cuisine Near You</h5>
<h6>Pizza Near Me</h6>
<h6>Sushi Near Me</h6>
<h6>Dessert Near Me</h6>
<h6>Cafe Near Me</h6>
<h6>Thai Food Near Me</h6>
<h6>Mexican Food Near Me</h6>
<h6>Indian Food Near Me</h6>
<h6>Italian Food Near Me</h6>

</footer>
</body>
</html>