<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title><%- title %></title>
    <!-- <% if (typeof styles !== 'undefined') { %> <% if (styles.length > 0) { %>
    <link rel="stylesheet" href="css/<%= styles %>.css" />
    <% } %> <% } %> -->

    <link href="css/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <a href="/profile"><h2 class="userProfile">User Profile</h2></a>
      <a href="/signin"><h2 class="signUp">Login</h2></a>
      <a href="/"><h1>Let's Eat</h1></a>
    </header>