<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <% if (typeof styles !== 'undefined') { %> <% if (styles.length > 0) { %>
    <link rel="stylesheet" href="css/<%= styles %>.css" />
    <% } %> <% } %>
  </head>
  <body>
    <!--Todo: Navbar-->
    <h1 style="text-align: center"><a href="/">Let's Eat</a></h1>

    <main></main>
  </body>
</html>
